<!doctype html>
<html lang="{{ site.Language.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.Params.description }}">
    <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} · {{ site.Title }}{{ end }}</title>
    {{ $styles := resources.Get "css/site.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
  </head>
  <body>
    {{ block "main" . }}{{ end }}
  </body>
</html>
